@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

header a{
    text-decoration: none;
}
header li{
    list-style-type: none;
}

header{
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10 10%;
    background-color: #2c3e50;
    justify-content: space-around;
}

.logo{
    color: white;
    font-weight: 900;
    border: thin solid white;
    padding: 0.7%;
    margin-right: auto;
}

nav ul{
    display: flex;
    flex-direction: row;

}

nav ul li a{
    color: white;
    display: block;
    margin: 0px 5px;
    padding: 10px 20px;
}

nav ul li a:hover{
    color: #dc7633;
}

.contact-header{
    background-color: #dc7633;
    border-radius: 0.8em;
}
.login-header, .logout{
    background-color: white;
    color: black;
    border-radius: 0.8em;
}

.contact-header:hover{
    background-color:black;
    color:white;
}

.logo:hover{
    color:#dc7633;
    border-color: #dc7633;
}

.login-header:hover{
    background-color: black;
    color:white;
}

.logout:hover{
    background-color: black;
    color:white;
}



html, body{
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(background.jpg);
    /*background: -webkit-linear-gradient(left, #dc3633, #dc8633);*/
}
.wrapper{
    overflow: hidden;
    max-width: 390px;
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
}

.wrapper .title-text{
    display: flex;
    width: 200%;
}

.wrapper .title-text .title{
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.wrapper .form-container{
    width: 100%;
    overflow: hidden;
}

.form-container .slide-control{
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    margin: 30px 0 10px 0;
    justify-content: space-between;
    border: 1px solid lightgrey;

}

.slide-control .slide{
    height: 100%;
    width: 100%;
    z-index: 1;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    transition: all 0.6s ease;
}

.slide-control .signup{
    color: #000;
}

.slide-control .slide-tab{
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: 5px;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
    background: -webkit-linear-gradient(left, #dc3633, #dc8633);
}

input[type="radio"]{
    display: none;
}

#signup:checked ~ .slide-tab{
    left: 50%;
}

#signup:checked ~ .signup{
    color:#fff;
}

#signup:checked ~ .login{
    color:#000;
}

.wrapper .form-inner{
    display: flex;
    width: 200%;
}

.form-container .form-inner form{
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}   

.form-inner form .field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

.form-inner form .field input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    font-size: 17px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    transition: all 0.4s ease;
}

.form-inner form .field input:focus{
    border-color: #dc7633;
}

.form-inner form .pass-link{
    margin-top: 5px;
}

.form-inner form .pass-link a,
.form-inner form .signup-link a{
    color: #dc4633;
    text-decoration: none;
}

.form-inner form .signup-link{
    text-align: center;
    margin-top: 30px;
}

.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover{
    text-decoration: underline;
}

form .field input[type="submit"]{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-left: 0px;
    border: none;
    cursor: pointer;
    background: -webkit-linear-gradient(left, #dc3633, #dc8633);
}