@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Quicksand',sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10%;
    background-color: #2c3e50;
    justify-content: space-around;
}

.logo{
    color: white;
    font-weight: 900;
    border: thin solid white;
    padding: 0.7%;
    margin-right: auto;
}

nav ul{
    display: flex;
    flex-direction: row;

}

nav ul li a{
    color: white;
    display: block;
    margin: 0px 5px;
    padding: 10px 20px;
}

nav ul li a:hover{
    color: #dc7633;
}

.contact{
    background-color: #dc7633;
    border-radius: 0.8em;
}
.login{
    background-color: white;
    color: black;
    border-radius: 0.8em;
}

.contact:hover{
    background-color:black;
    color:white;
}

.logo:hover{
    color:#dc7633;
    border-color: #dc7633;
}

.login:hover{
    background-color: black;
    color:white;
}

