@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Quicksand',sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10%;
    background-color: #2c3e50;
    justify-content: space-around;
}

#search-container {
    background-color: white;
    padding: 0.25em;
}

#search-container .search-icon {
    color: black;
}

#search-box {
    border: none;
    outline: none;
    font-size: 1em;
}

.logo{
    color: white;
    font-weight: 900;
    border: thin solid white;
    padding: 0.7%;
    margin-right: auto;
}

nav ul{
    display: flex;
    flex-direction: row;

}

nav ul li a{
    color: white;
    display: block;
    margin: 0px 5px;
    padding: 10px 20px;
}

nav ul li a:hover{
    color: #dc7633;
}

.contact{
    background-color: #dc7633;
    border-radius: 0.8em;
}
.login{
    background-color: white;
    color: black;
    border-radius: 0.8em;
}

.contact:hover{
    background-color:black;
    color:white;
}

.logo:hover{
    color:#dc7633;
    border-color: #dc7633;
}

.login:hover{
    background-color: black;
    color:white;
}

#table {
    margin-left: auto;
    margin-right: auto;
    justify-items: center;
}

img {
    width: 450px;
    height: 300px;
}

.clanak {
    display: flex;
    justify-self: center;
    background-color: cornsilk;
    margin: 4px 15px 15px 4px;
    position: static;
}

#sadrzaj-clanka {
    margin: 4px 15px 15px 4px;
}

#slika-clanka {
    justify-self: left;
    font-size: 0;
}

#slika-clanke #text {
    justify-self: left;
    margin: 10px 10px 10px 10px;
}

